<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./style.css" />
    <title>Static Template</title>
  </head>
  <body>
    <div id="root" v-cloak>
      <h1>{{title}}</h1>
      <button @click="handleToggle">Toggle Box</button>
      <div class="box" v-if="isVisible">1</div>

      <input type="text" v-model="title" @keydown.enter="greet('Hi, Vue.JS')" />
      <hr />

      <login-form />
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            title: "Test Title",
            isVisible: true
          };
        },
        methods: {
          handleToggle() {
            this.isVisible = !this.isVisible;
          },
          greet(message) {
            this.title = message;
          
          }
        }
      });

      app.component("login-form", {
        template: `
          <form @submit.prevent="handleSubmit">
            <div v-for="name in names">{{name}}</div>
            <h2>{{formTitle}}</h2>
            <custom-input 
              v-for="(input,index) in inputs" 
              :key="index"
              v-model='input.value'  
              :label="input.label"
              :placeholder="input.placeholder" 
              :type="input.type"
            />
          
            <button>Login</button>
          </form>
        `,

        data() {
          return {
            formTitle: "[Login Form]",
            inputs:[
              {
                label:'E-Mail:',
                value:'',
                type:'email',
                placeholder:'Enter a valid email'
              },
               {
                label:'Password:',
                value:'',
                type:'password',
                placeholder:'Enter password'
              }
            ]
            
          };
        },

        components:['custom-input'],

        methods: {
          handleSubmit() {
            console.log(this.inputs[0].value,this.inputs[1].value);
          }
        }
      });

      app.component('custom-input',{

        template:`
          <label>
            {{label}}
            <p>
              <input :type="type" v-model="inputValue" :placeholder="placeholder"/>
            </p>
          </label>
        `,
        props:['label','type','placeholder', 'modelValue'],
        computed:{
          inputValue:{
            get(){
              return this.modelValue
            },
            set(val){
              this.$emit('update:modelValue',val)
            }
          }
          
        }

      });

      app.mount("#root");
    </script>
  </body>
</html>
