.box{
  width:100px;
  height:100px;
}

.box.red{
  background-color: red
}

.box.green{
  background-color: green
}

.box.blue{
  background-color: blue
}

[v-cloak]{
  display: none;
}


.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;

}
